---
layout: page
permalink: /articles/index.html
title: All Articles
description: "An archive of posts sorted by date."
---

<ul class="post-list">
    {% for post in site.posts %}
    {% unless post.next %}
        <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            <h3>{{ post.date | date: '%Y' }}</h3>
        {% endif %}
    {% endunless %}
    <li><article><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
    {% endfor %}
</ul>
